<html>
<body>
<pre>POLITIQUE DE CONFIDENTIALITE
Dernière mise à jour : 20 septembre 2016

1. OBJET DE LA POLITIQUE DE CONFIDENTIALITE

La Politique de confidentialité s’inscrit dans le constant souci de la société CRICHARD et des sociétés qui lui seraient affiliées (société mère, filiales,…) (ci-après, CRICHARD) de protéger la vie privée des utilisateurs des services décrits ci-après eu égard à la réglementation en vigueur et notamment, à la loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés.

La présente Politique de confidentialité fait partie intégrante des Conditions Générales d’Utilisation régissant les jeux et applications logicielles édités par CRICHARD sur les plateformes tierces FACEBOOK, APPLE ou GOOGLE (ci-après, les « Plateformes »), y compris tous contenus, toutes prestations et toutes fonctionnalités accessibles via ces jeux et applications logicielles (ci-après, collectivement dénommés les « Services »).

La présente Politique de confidentialité vise en particulier à vous informer de la politique générale mise en place par CRICHARD en terme de protection des données à caractère personnel collectées et traitées à l’occasion de votre utilisation des Services régis par les Conditions Générales d’Utilisation précitées.

Votre accès et/ou votre utilisation des Services emporte(nt) votre acceptation expresse des termes de la présente Politique de confidentialité et, en conséquence, votre acceptation à la collecte, la conservation, l’utilisation et la divulgation de vos données à caractère personnel et ce, tel que décrit dans la présente Politique de confidentialité.

Vous êtes informé(e) que la Politique de confidentialité peut être modifiée à tout moment par CRICHARD. A ce titre, vous reconnaissez et acceptez que votre utilisation et/ou votre accès aux Services après la date des modifications emportera votre acceptation de la Politique de confidentialité telle que modifiée. Nous vous invitions à venir consulter régulièrement la Politique de confidentialité afin d’être tenu(e) informé(e) des modifications éventuelles.

2. DONNEES COLLECTEES

2.1 Données collectées par CRICHARD via les Plateformes

Les données à caractère personnel collectées et traitées sont celles que vous transmettez volontairement à CRICHARD par l’intermédiaire des Plateformes en acceptant d’accéder et d’utiliser les Services à partir de ces Plateformes.

Ces données peuvent concerner, votre nom, la photo de votre profil, votre sexe, votre/vos réseau(x), votre identifiant utilisateur, les numéros d’identification utilisateurs de vos amis et/ou des personnes de votre/vos réseau(x) et d’autres informations communiquées par vos soins à l’ensemble des utilisateurs des Plateformes.

Le cas échéant, CRICHARD sera également susceptible de collecter, toujours par l’intermédiaire des Plateformes, des données supplémentaires que vous avez accepté de lui fournir (par exemple, votre adresse électronique).

L’ensemble des données à caractère personnel étant fourni à CRICHARD directement par les Plateformes, cela suppose que vous ayez déjà pris connaissance et accepté les conditions générales d’utilisation et la politique de confidentialité de ces Plateformes. CRICHARD précise qu’en cas de conflit entre les CGU de ses Services et celles des plateformes, le respect des CGU des plateformes primera sur celui des CGU des Services.

CRICHARD ne saurait être tenue responsable des pratiques des Plateformes en matière de collecte, de stockage et de traitement de vos données à caractère personnel. De même, vous restez responsable du paramétrage de confidentialité de vos comptes ouverts sur ces Plateformes de sorte que la responsabilité de CRICHARD ne pourra être engagée à ce titre.

2.2 Données collectées directement par CRICHARD

Dans le cadre de la fourniture de ses Services, CRICHARD pourra également collecter directement des données auprès de vous.

CRICHARD peut vous proposer dans le cadre de l’accès et de l’utilisation des Services et/ou de ses espaces officiels associés (espaces officiels dédiés sur les Plateformes, site Internet support,…), de participer à des opérations promotionnelles. La participation à ces opérations promotionnelles implique votre pleine et entière acceptation de la collecte, du stockage et du traitement des données à caractère personnel fournies.

Dans le cadre de l’utilisation des Services, il pourra être conservé vos scores afin de déterminer votre grade/niveau et un classement des joueurs. En utilisant les Services, vous acceptez notamment que votre score et certaines données auxquelles vous aurez donné accès figurent dans le classement des joueurs, régulièrement visible par l’ensemble des utilisateurs des Services.

Dans le cadre de l’utilisation des Services, il pourra également être conservé pendant une durée de 30 jours l’historique des conversations entre joueurs (dans les fonctionnalités « CHAT ») dans un objectif de modération des échanges par la société CRICHARD, notamment en cas de plaintes de joueurs.

Par ailleurs, lorsque vous vous adressez directement à CRICHARD via son service de support, CRICHARD pourra collecter et stocker les données de contact (notamment votre nom et votre adresse électronique) et, le cas échéant, votre numéro identifiant utilisateur des Plateformes à partir desquelles vous accédez et utilisez les Services ainsi que des informations relatives à votre utilisation des Services que vous serez amené à lui communiquer.

Enfin, afin de fournir de manière optimisée ses Services, CRICHARD sera amenée à recueillir des données agrégées sur l’utilisation des Services telles que votre adresse IP, le type de navigateur, la langue du navigateur, l’historique du navigateur, le nombre de clics, les pages consultées et l’ordre de ces pages, et plus, généralement, toutes données de navigation et de connexion.

3. FINALITES DE LA COLLECTE ET DU TRAITEMENT DE VOS DONNEES

Les données à caractère personnel collectées, stockées et traitées par CRICHARD sont nécessaires aux fins de vous permettre d’accéder aux Services et de les utiliser.

Les données recueillies auprès des Plateformes et/ou directement auprès de vous permettent notamment d’administrer et d’améliorer les Services, les communications entre utilisateurs des Services, de fournir un appui technique et de répondre aux demandes des utilisateurs, de faire appliquer les Conditions Générales d’Utilisation régissant les Services de CRICHARD, de communiquer sur les Services nouveaux et actuels ainsi que sur les offres promotionnelles, d’analyser les tendances de trafic des utilisateurs et de recueillir des données statistiques ou encore de cibler les contenus publicitaires qui pourraient s’afficher sur nos Services.

Lorsque vous recevez des communications promotionnelles de la part de CRICHARD, vous aurez la possibilité de mettre un terme à ces communications en suivant les instructions de désabonnement contenues dans la communication promotionnelle.

4. DESTINATAIRES DE VOS DONNEES

Vos données ne font l’objet d’aucune communication à des tiers, excepté dans les cas suivants :

- lorsque vous avez donné votre accord préalable pour le partage et/ou la divulgation de vos données, y compris par l’intermédiaire des fonctionnalités proposées par les Plateformes ;

- lorsque CRICHARD doit partager vos données avec les partenaires commerciaux, fournisseurs, prestataires et notamment prestataires techniques, vendeurs, acheteurs aux fins de fourniture des Services, de résolution des problèmes de fonctionnement des Services, de communication avec les utilisateurs des Services ou encore en vue d’offrir des informations publicitaires et promotionnelles en relation avec les Services ;

- CRICHARD fournit en particulier vos données à des sociétés tierces pour fournir des Services en son nom, y compris le traitement des paiements, l’analyse des données, le traitement des campagnes de mailing, l’hébergement des Services, le traitement de certains aspects marketing des Services ;

- en application d’une loi, d’un règlement ou en vertu d’une décision d’une autorité réglementaire ou judiciaire compétente ou encore, si cela s’avère nécessaire, aux fins de préserver ses droits et intérêts, CRICHARD pourra communiquer vos données ;

- en cas de changement de contrôle de CRICHARD ou de cession de tout ou partie de ses actifs, CRICHARD sera autorisée à transférer vos données conformément à l’article 10 des présentes.

Nous attirons votre attention en particulier sur le fait qu’en utilisant certains Services de CRICHARD sur les Plateformes, les autres utilisateurs de ces Services pourront visualiser votre profil d’utilisateur de ces Plateformes. Ce profil pourra permettre aux autres utilisateurs d’obtenir des informations rendues publiques par vos soins associées à ce profil. CRICHARD ne pourra être tenue responsable à ce titre. Il est de votre responsabilité de paramétrer les informations associées à votre profil sur les plateformes concernées.

CRICHARD ne transmet pas vos données à caractère personnel à des annonceurs tiers à des fins de marketing ciblé à moins que vous y ayez consenti préalablement. Il convient toutefois de noter que les annonceurs peuvent obtenir des données à caractère personnel vous concernant à partir de votre profil d’utilisateur des Plateformes ou d’autres sources publiques. CRICHARD ne saurait de la même manière voir sa responsabilité engagée à ce titre.

En revanche, CRICHARD peut utiliser et partager avec des tiers certaines données techniques ou agrégées non personnelles relatives à la navigation des utilisateurs des Services. Nous vous renvoyons à l’article 7 pour quelques exemples de ces données de navigation.

CRICHARD peut permettre aux annonceurs de recueillir ces données techniques ou agrégées grâce à certaines technologies telles que les cookies et ce, afin de pouvoir vous offrir des publicités ciblées dans une perspective plus générale de personnalisation de votre expérience d’utilisateur.

La collecte, le traitement et la divulgation de telles données anonymes ne sauraient être soumis aux restrictions énoncées dans la présente politique de confidentialité.

5. SECURITE DE VOS DONNEES

CRICHARD fait ses meilleurs efforts pour protéger vos données à caractère personnel et ainsi restreindre les risques de perte, de détérioration ou de mauvaise utilisation de celles-ci.

En dépit des mesures prises en matière de sécurité, CRICHARD ne saurait garantir l’acheminement et de l’intégrité des données transmises à des tiers par l’intermédiaire des Services (par exemple, lors de l’achat de Produits Physiques et Virtuels) et décline toute responsabilité à ce titre.

Vous reconnaissez en particulier les contraintes et risques inhérents à l’utilisation d’Internet et vous engagez d’ores et déjà à prendre vous-même toute mesure préventive pour conserver la confidentialité de vos données à caractère personnel (y compris les éventuels mots de passe de comptes nécessaires à l’utilisation des Services).

6. CONSERVATION DE VOS DONNEES

Vos données personnelles sont stockées chez l’hébergeur identifié au sein des Mentions Légales et sont conservées pour la durée strictement nécessaire à la réalisation des finalités visées ci-avant. Au-delà de cette durée, vos données de navigation seront conservées à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation commerciale, de quelle que nature que ce soit.

7. COOKIES

Dans la perspective de faciliter votre accès et votre utilisation des Services, de personnaliser cet accès et cette utilisation mais également de nous permettre de gérer la publicité qui pourrait être visible à partir de nos Services, vous êtes informé(e) que CRICHARD est susceptible de mettre en œuvre un procédé automatique de traçage (cookie). Un cookie ne permet pas de vous identifier. En revanche, il enregistre des informations relatives à la navigation de votre ordinateur sur les sites à partir desquels vous avez accédé aux Services et autres espaces associés (les pages que vous avez consultées, la date et l’heure de la consultation, etc.) que nous pourrons lire lors de vos visites ultérieures.

Toutefois, vous pouvez vous opposer à l’enregistrement de « cookies » en configurant votre navigateur en suivant les indications indiquées sur le site Libellules.ch : http://www.libellules.ch/support/cookies.php. Veuillez noter qu’une telle configuration pourrait modifier la qualité des Services.

8. POLITIQUE DE CONFIDENTIALITE DE TIERS

Les Services peuvent contenir des liens vers des sites Internet de tiers. De même, certains contenus des Services (publicitaires ou non) peuvent être hébergés chez des tiers. Enfin, dans le cadre de certaines fonctionnalités des Services nécessitant un paiement en ligne, vous pourrez être amené à utiliser des outils de paiement sécurisés proposés par des sociétés tierces.

CRICHARD ne peut être tenue responsable des pratiques en matière de collecte, stockage et traitement des données à caractère personnel de ces tiers et/ou du contenu de leurs sites Internet. Vous garantissez CRICHARD contre toute réclamation, action, procédure initiée à son encontre à ce titre.

Si vous avez des questions sur l’utilisation de vos données à caractère personnel par ces tiers, vous devez vous reporter à leurs politiques de confidentialité qui seront seules applicables en la matière et vous adresser directement à ces sociétés tierces.

9. TRANSFERT DES DONNEES A L’INTERNATIONAL

Pour les besoins du fonctionnement des Services, les données à caractère personnel collectées par CRICHARD peuvent être hébergées chez des société tierces en dehors de France (notamment en Irlande et aux Etats-Unis).

CRICHARD prend toutes les mesures raisonnablement nécessaires pour garantir que vos données sont traitées en toute sécurité et en conformité avec la présente Politique de confidentialité.

En soumettant vos données personnelles à CRICHARD et, de manière générale, en accédant et en utilisant les Services, vous acceptez le transfert, le stockage et/ou le traitement de vos données hors de France.

10. CESSION / TRANSFERT

CRICHARD se réserve le droit de transférer vos données à caractère personnel dans le cas d’un changement de son contrôle ou de la cession de tout ou partie de ses actifs, notamment par acquisition ou fusion avec une autre société.

Dans un tel cas, CRICHARD avertira par tout moyen les utilisateurs d’un tel transfert et de tout changement affectant, le cas échéant, la Politique de confidentialité.

11. DROIT D’ACCES, DE MODIFICATION ET DE SUPPRESSION DE VOS DONNEES PERSONNELLES

Conformément aux dispositions légales, vous disposez d’un droit général d’accès, de rectification et de suppression de vos données à caractère personnel vous concernant qui ont été collectées au titre de votre accès et/ou utilisation des Services.

Vous pouvez exercer l’ensemble de ces droits en nous adressant une demande en ce sens par courrier à l’adresse indiquée dans les Mentions Légales.

S’agissant en particulier des données collectées par l’intermédiaire des Plateformes, vous pouvez accéder et rectifier ces données directement depuis l’espace personnel dont vous disposez sur ces Plateformes. A défaut d’espace personnel, il conviendra de se référer à la politique d’accès et de rectification des Plateformes.

12. DES QUESTIONS ?

N’hésitez pas à nous contacter en envoyant un courriel à cesar@crichard.fr si vous avez des questions au sujet des Services ou de la Politique de confidentialité de CRICHARD, ou si vous souhaitez recevoir une version antérieure du présent document.
</pre>
</body>
</html>